<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <style>
        #tb td {
            border-right: 1px solid #808080;
            border-bottom: 1px solid #808080;
            padding: 2px;
            letter-spacing: 1px;
        }

        #tb tr {
            height: 60px;
        }

        #tb thead {
            font-size: 14px;
        }

        #tb tbody, #tb tfoot {
            font-size: 12px;
        }


    </style>

    <table style="width:660px;">
        <tr style="height:30px;">
            <td style="width:33.3333%"></td>
            <td style="font-size:20px;text-align:center;font-weight:400">记账凭证</td>
            <td style="font-size:12px;width:33.3333%;text-align:right">附单据数：0</td>
        </tr>
        <tr style="height:30px;">
            <td style="font-size:12px;width:33.3333%">核算单位：万达</td>
            <td style="font-size:12px;text-align:center;">日期：2017-11-11</td>
            <td style="font-size:12px;width:33.3333%;text-align:right">凭证号：记-3</td>
        </tr>
    </table>
    <table id="tb" style="border: 1.5px solid #000000" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td style="text-align:center;width:160px">摘要</td>
                <td style="text-align :center;width:240px">科目</td>
                <td style="text-align:center;width:120px">借方金额</td>
                <td style="text-align:center;width:120px;border-right:none">贷方金额</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:left">提现</td>
                <td style="text-align :left">1101阿斯顿</td>
                <td style="text-align:right">1000</td>
                <td style="text-align:right;border-right:none"></td>
            </tr>
            <tr>
                <td style="text-align:left">提现</td>
                <td style="text-align :left">1101阿斯顿</td>
                <td style="text-align:right"></td>
                <td style="text-align:right;border-right:none">1000</td>
            </tr>

            <tr>
                <td style="text-align:left">提现</td>
                <td style="text-align :left">1101阿斯顿</td>
                <td style="text-align:right">1000</td>
                <td style="text-align:right;border-right:none"></td>
            </tr>

            <tr>
                <td style="text-align:left">提现</td>
                <td style="text-align :left">1101阿斯顿</td>
                <td style="text-align:right"></td>
                <td style="text-align:right;border-right:none">1000</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td style="text-align:left;border-bottom:none" colspan="2">合计:壹仟</td>

                <td style="text-align:right;border-bottom:none"></td>
                <td style="text-align:right;border:none">1000</td>
            </tr>
        </tfoot>

    </table>

    <table style="width:660px;font-size:12px;height:40px;">
        <tr>
            <td style="width:20%">主管：</td>
            <td style="width:20%">记账：</td>
            <td style="width:20%">审核：</td>
            <td style="width:20%">出纳：</td>
            <td style="width:20%">制单：李四</td>
        </tr>
    </table>
</body>
</html>
