.tks-tbcolumn20{
    display:block;
    float:left;
    width:19.9999%
}
.tks-tbcolumn25 {
    display: block;
    float: left;
    width: 25%
}

.tks-tbcolumn33{
    display:block;
    float:left;
    width:33.3333%
}

.tks-tbcolumn40{
    display:block;
    float:left;
    width:39.9999%
}


.tks-tbcolumn50{
    display:block;
    float:left;
    width:50%
}

.tks-tbcolumn66{
    display:block;
    float:left;
    width:66.6666%
}