
<style>
    body {
        text-align: center;
    }

    .tbFZDetail td {
        border-right: 1px solid #808080;
        border-bottom: 1px solid #808080;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
    }

    .tbFZDetail tr {
        height: 25px;
    }

    .tbFZDetail thead {
        font-size: 14px;
        font-family: '黑体'
    }

    .tbFZDetail tbody, .tbFZDetail tfoot {
        font-size: 13px;
        ;
        font-family: '黑体'
    }
</style>
<table class='tbFZDetail' style='width: 90%;margin: 0 auto;' cellspacing='0' cellpadding='0'>
    <thead>
        <tr style='height: 30px;border:0px'>
            <td colspan='7' style='font-size:20px;text-align:center;font-weight:400;border:0px'>核算项明细账</td>
        </tr>
        <tr style='height: 30px; '>
            <td colspan='7' style='font-size: 12px;border:0px;text-align:center;'>
                <div style='float:left;width:30%;text-align:left;'>供应商：001 潜毅达</div>2018年7期-2018年8期
                <div style='float:right;width:30%;text-align:right;'>单位：元</div>
            </td>
        </tr>
        <tr>
            <td style='width: 15%; text-align: center'>日期</td>
            <td style='width: 10%; text-align: center'>凭证字号</td>
            <td style='width: 20%; text-align: center'>摘要</td>
            <td style='width: 15%; text-align: center'>借方金额</td>
            <td style='width: 15%; text-align: center'>贷方金额</td>
            <td style='width: 10%; text-align: center'>余额方向</td>
            <td style='width: 15%; text-align: center'>余额金额</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style='text-align: left'>2018-07-01</td>
            <td style='text-align: center'></td>
            <td style='text-align: left'>期初余额</td>
            <td style='text-align: right'></td>
            <td style='text-align: right'></td>
            <td style='text-align: center'>贷</td>
            <td style='text-align: right'>10600</td>
        </tr>
        <tr>
            <td style='text-align: left'>2018-07-31</td>
            <td style='text-align: center'>记4</td>
            <td style='text-align: left'>
                维修费
            </td>
            <td style='text-align: right'></td>
            <td style='text-align: right'>3500</td>
            <td style='text-align: center'>借</td>
            <td style='text-align: right'></td>
        </tr>
        <tr>
            <td style='text-align: left'>2018-07-31</td>
            <td style='text-align: center'></td>
            <td style='text-align: left'>本期合计</td>
            <td style='text-align: right'></td>
            <td style='text-align: right'>3500</td>
            <td style='text-align: center'>贷</td>
            <td style='text-align: right'>14100</td>
        </tr>
        <tr>
            <td style='text-align: left'>2018-07-31</td>
            <td style='text-align: center'></td>
            <td style='text-align: left'>本年累计</td>
            <td style='text-align: right'></td>
            <td style='text-align: right'>3500</td>
            <td style='text-align: center'>贷</td>
            <td style='text-align: right'>14100</td>
        </tr>
        <tr>
            <td style='text-align: left'>2018-08-01</td>
            <td style='text-align: center'></td>
            <td style='text-align: left'>期初余额</td>
            <td style='text-align: right'></td>
            <td style='text-align: right'></td>
            <td style='text-align: center'>贷</td>
            <td style='text-align: right'>14100</td>
        </tr>
        <tr>
            <td style='text-align: left'>2018-08-31</td>
            <td style='text-align: center'></td>
            <td style='text-align: left'>本期合计</td>
            <td style='text-align: right'></td>
            <td style='text-align: right'></td>
            <td style='text-align: center'>借</td>
            <td style='text-align: right'></td>
        </tr>
        <tr>
            <td style='text-align: left'>2018-08-31</td>
            <td style='text-align: center'></td>
            <td style='text-align: left'>本年累计</td>
            <td style='text-align: right'></td>
            <td style='text-align: right'>3500</td>
            <td style='text-align: center'>借</td>
            <td style='text-align: right'></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan='3' style='text-align: left;border: 0px solid #000000;'>编制单位：测试公司1</td>
            <td style='text-align: right;border: 0px solid #000000;' colspan='2'>打印日期：2018-09-26</td>
            <td style='text-align: right;border: 0px solid #000000;' colspan='2'>【章小算财税】</td>
        </tr>
    </tfoot>
</table>