<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--功能点-->
    <!--权限平台-->
    <add key="funcId_admin" value="7b6d0a8951e341acba0a0ffde4ee3abc" />
    <!--会计平台-->
    <add key="funcId" value="112323" />
    <!--<add key="ConnString" value="Data Source=.;Initial Catalog=FAS_Test;uid=sa;pwd=cszj123456;Pooling=true;MAX Pool Size=256;Min Pool Size=1" />-->
    <!--<add key="ConnString" value="Data Source=.;Initial Catalog=dsp_saas;uid=sa;pwd=cszj123456;Pooling=true;MAX Pool Size=256;Min Pool Size=1" />-->
    <add key="ConnString" value="Data Source=.;Initial Catalog=dsp_saas;Integrated Security=True"/>
    <!--debug模式-->
    <add key="debug" value="1" />
    <!--超时时间-->
    <add key="timeOut" value="9999999" />
    <!--代帐企业管理员角色-->
    
    <add key="DZQY-ADMIN" value="c3abf108ed894317bad85ef855f108fc"/>
    
    <!--雇主企业管理员角色-->
    <!--
    <add key="GZQY-ADMIN" value="d0591b7f3fc04d87a0f7bb7344de0640"/>-->
    <add key="DZQY-ADMIN" value="9b0430f0f8484bb78209dd9b4282ad85" />
    <add key="GZQY-ADMIN" value="023b2039dd644a6eb58feb7764229a43" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=cszj123456" cookieless="false" timeout="600" />
    <!--<customErrors  mode="On" defaultRedirect="view/404.html">
      <error statusCode="404" redirect="view/404.html"/>
      StateServer
      InProc
    </customErrors>-->
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="102400 " />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                            <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>